.form-control {
  margin-top: 1.5%;
  /*  width: 50%; */
  padding: 2px;
  width: 150px;
}

.label-group {
  margin-right: 1%;
  font-size: 1.3rem; /* rem */
}

.all-form {
  width: 150px;
  margin: 0;
  -webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
  -moz-box-sizing: border-box; /* For legacy (Firefox <29) Gecko based browsers */
  box-sizing: border-box;
}

.form-conditional {
  width: 172px;
  margin-left: 155%;
  margin-top: -208%;
}

.btn-submit {
  margin-left: 160%;
  margin-top: 15.5%;
  width: 100%;
  font-size: 110%;
  background-color: #45ae45;
}
